html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  height: 100%;
  color: #364294;
}

#name-ute {
    margin-left: 20px;
    float: left;
}
#header {
    margin-top: 10px;
}
#name-ute h5 {
    font: 16px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #145fb0;
}
#name-ute h4 {
    font: 21px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #145fb0;
    margin-top: 5px;
}
#name-ute h6 {
    font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #f9051e;
    padding-top: 5px;
    margin-top: 5px;
    border-top: 3px solid #1360ae;
    width: 440px;
    text-shadow: 0 1px 0 #ccc,
        0 2px 1px rgba(0, 0, 0, .1),
        0 2px 1px rgba(0, 0, 0, .2),
        0 1px 1px rgba(0, 0, 0, .2),
        0 2px 2px rgba(0, 0, 0, .2);
}

#search-bar {
    float: right;
    margin-top: 55px;
}
#search-bar input {
    border: 1px #2e6da4 solid;
    text-color: #2e6da4;
}
#btn-submit {
    top: 0px;
}
.input-group-btn {
    width: 0%;
}

#narbar {
    background: #364294;
    height: 30px;
}
/*footer*/

.footer {
    position: absolute;
    color: #bbb;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 3px #364294 solid;
}
#copy-right{
    float: left;
}
#address{
    float: right;
    display: inline;
    color:black;
}

/*main login*/

.form{
    display: table;
    width:100%;
    height: 94%;
}
#form_login{
    display: table-cell;
   text-align: center;
   vertical-align: middle;
}
.textBold{
    color:#364294;
}
.textnormal{
    color:#364294;
}

#fogetpass{
    text-align: center;
}

/* navbar*/

.info-user{
    float: right;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    right: 0px;
    z-index: 1;
    border: 1px #364294 solid;
    border-radius:10px;
}
.dropdown-content a {
    color: #364294;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.info-user:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.info-user:hover .btn-dropdown {
    background-color: white;
}
.info-user:hover .info{
    color: #364294;
}
.btn-dropdown{
    height: 30px;
    border:none ;
    background-color:transparent;
}
.info{
    color:white;
}


/*calendar */

.block {
    padding: 6px;
    min-height: 20px;
    margin-bottom: 20px;
    border:1px solid #e3e3e3;
    border-radius:5px;
}
.block .minicalendar .calendartable,.block .minicalendar .calendar-controls{
    max-width: 280px;
    margin: 0 auto;
    width: 100%;
}
.block .minicalendar .caption {
    text-align: center;
}
.block .calendar-controls .previous {
    text-align: left;
    width: 12%;
}
.block .calendar-controls .current, .block .calendar-controls .next, .block .calendar-controls .previous {
    float: left;
}
.block a {
    color: #364294;
}
.block .calendar-controls .current {
    text-align: center;
    width: 76%;
}
.block .calendar-controls .next {
    text-align: right;
    width: 12%;
}

.block .calendartable td, .block .calendartable th {
    padding: 2px;
    font-size: .8em;
    text-align: center;
}
.block .calendartable td, .calendartable th {
    padding: 5px 0;
    border: 1px dotted #e1e1e1;
}

.title-calendar, .title-notify, .title-content{
    text-align:center;
    font-size:18px;
    border-bottom:1px solid #e3e3e3;
    margin-bottom:3px;
}

/* Noitify*/
.time-notify-left{
    float:right;
}
.day-notify{
    text-align:right;
}
/* main content*/
.main-content{
    border:1px solid #e3e3e3;
    min-height:calc(100vh - 204px);
    border-radius:5px;
    margin-bottom:10px;
    padding:3px;
}
.table-content{
    table-layout: fixed;
    width: 100%;
}